body {
  color: #b5a8a8;
  background-color: #222222;
  font-family: sans-serif;
}

h1 {
  font-size: 1rem;
}

.image-table img {
  max-width: 100%;
}

.image-table tbody td {
  vertical-align: top;
}

.before-header-cell {
  color: #6b6bd7;
}

.ref-header-cell {
}

.after-header-cell {
  color: #cccc29;
}

.label-ribbon {
  background-color: #3d3c3e;
  opacity: 0.8;
  text-align: center;

  width: 30%;
  position: sticky;
  top: 1rem;
  padding: 0.3rem;
  border-radius: 0.5rem;
}

.label-ribbon form {
  display: inline-block;
}

.label-input {
  margin-top: 0.5ex;
  width: 4rem;
}
