<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Label images</title>
    <link rel="stylesheet" href="/static/style.css">
  </head>
  <body>
    <header>
      <h1>
        Label the images below:
        {% if image_page_url.is_some() %}
          <a href="{{ image_page_url.unwrap() }}">{{ image_page_url.unwrap() }}</a>
        {% endif %}
      </h1>
    </header>

    <main>
      <div class="label-ribbon">
        <form action="/label" method="post">
          <label>
            Label:
            {% for entry in label_mapping %}
              <span class="label-mapping">{{ entry.0 }}: {{ entry.1 }};</span>
            {% endfor %}
            <input type="number" min="0" max="9" name="label"
              required autofocus autocomplete="off" class="label-input"
            {% if second_label %}
              oninput="this.nextElementSibling.focus()">
              <input type="number" min="0" max="9" name="label2"
                required autocomplete="off" class="label-input"
                oninput="this.form.submit()">
            {% else %}
              oninput="this.form.submit()">
            {% endif %}
          </label>
          <input type="hidden" name="id" value="{{ id }}">
          <button type="submit">Label</button>
          {% block form_ext %}{% endblock %}
        </form>

        <form action="/skip" method="post">
          <input type="hidden" name="id" value="{{ id }}">
          <button type="submit" accesskey="s">Skip</button>
        </form>
      </div>

      {% block images %}{% endblock %}
    </main>
  </body>
</html>
