{% extends "base.html" %}

{% block images %}
<table class="image-table">
  <thead>
    <tr>
      <th class="before-header-cell">Before image</th>
      <th class="ref-header-cell">Reference image</th>
      <th class="after-header-cell">After image</th>
      {% if diff_perc.is_some() %}
        <th class="diff-header-cell">Diff image ({{ diff_perc.unwrap() }} %)</th>
      {% endif %}
    </tr>
  </thead>
  <tbody>
    <tr>
      <td><img src="{{ before_image_src }}" alt="Before image"></td>
      <td><img src="{{ ref_image_src }}" alt="Reference image"></td>
      <td><img src="{{ after_image_src }}" alt="After image"></td>
      <td><img src="{{ diff_image_src }}" alt="Diff image"></td>
    </tr>
  </tbody>
</table>
{% endblock %}
